@page {
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.container1 {
    height: 780px;
    border: 1px solid #000;
    padding: 10px 5px;
}

/* .container1 {
    height: 1110px;
    border: 1px solid #000;
    padding: 10px 5px;
} */

.container1 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 .headflex {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 80px;
}

.container1 .head h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
}

.container1 .headflex h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}
.container1 .headflex h4 span {
    color: #888;
}

.container1 .listtable {
    margin-top: 20px;
}

.container1 .table thead tr th {
    background-color: #888;
    font-size: 15px;
}

.container1 .table tbody tr td {
    font-size: 12px;
}
